<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StockCrawler.Dao.Properties.Settings.StockConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\StockCrawler\database\Stock.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
  <appSettings>
    <add key="DailyCollectorType" value="StockCrawler.Services.StockDailyPrice.YahooStockHtmlInfoCollector, StockCrawler.Services"/>
  </appSettings>
</configuration>