<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockCrawler.Dao.Properties.Settings.StockConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DOWILL\Products\IRONMAN\trunk\300-Execute\src\backend\IRONMAN\IRONMAN.UnitTest\database\Stock.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
