<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StockCrawler.Dao.Properties.Settings.StockConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DailyCollectorType" value="StockCrawler.Services.StockDailyPrice.TwseStockDailyInfoCollector, StockCrawler.Services"/>
    <add key="BasicInfoCollectorType" value="StockCrawler.Services.StockBasicInfo.GoodInfoStockBasicInfoCollector, StockCrawler.Services"/>
    <add key="FinanceReportCollectorType" value="StockCrawler.Services.StockFinanceReport.TwseReportCollector, StockCrawler.Services"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
