<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="StockCrawler.Dao.Properties.Settings.StockConnectionString"
         connectionString="Data Source=redprd.comeondata.com;Initial Catalog=Stock;UID=redfire;Password=vul3rm03rm03"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="StockCrawler.Dao" />
    <namespace name="StockCrawler.Services.Collectors" />
    <namespace name="StockCrawler.UnitTest.Stubs" />
    <assembly name="StockCrawler.Dao" />
    <assembly name="StockCrawler.Services" />
    <assembly name="StockCrawler.UnitTest" />

    <container>
      <register type="IRepository" mapTo="MsSqlRepository" />
      <register type="IStockForumCollector" mapTo="StockForumCollectorStub" />
      <register type="IStockHistoryPriceCollector" mapTo="StockHistoryPriceCollectorStub2" />
      <register type="IStockBasicInfoCollector" mapTo="StockBasicInfoCollectorStub" />
      <register type="IStockDailyInfoCollector" mapTo="StockDailyInfoCollectorStub" />
      <register type="IStockReportCollector" mapTo="StockReportCollectorStub" />
      <register type="IStockInterestIssuedCollector" mapTo="StockInterestIssuedCollectorStub" />
      <register type="IStockMarketNewsCollector" mapTo="StockMarketNewsCollectorStub" />
    </container>
  </unity>
  <appSettings>
    <add key="CollectorBreakInternval" value="0" />
  </appSettings>
  <system.net>
    <settings>
      <!-- https://stackoverflow.com/questions/8424144/how-to-set-useunsafeheaderparsing-in-code -->
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.11.0" newVersion="2.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
