<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="StockCrawler.Dao.Properties.Settings.StockConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="StockCrawler.Dao" />
    <namespace name="StockCrawler.Services.StockBasicInfo" />
    <namespace name="StockCrawler.Services.StockDailyPrice" />
    <namespace name="StockCrawler.Services.StockFinanceReport" />
    <namespace name="StockCrawler.UnitTest.Mocks" />
    <assembly name="StockCrawler.Dao" />
    <assembly name="StockCrawler.Services" />
    <assembly name="StockCrawler.UnitTest" />

    <container>
      <register type="IStockDataService" mapTo="StockDataServiceMSSQL" />
      <register type="IStockBasicInfoCollector" mapTo="TwseStockBasicInfoCollector" />
      <register type="IStockDailyInfoCollector" mapTo="StockDailyInfoCollectorMock" />
      <register type="IStockReportCollector" mapTo="StockReportCollectorMock" />
    </container>
  </unity>
  <appSettings>
    <add key="CollectorBreakInternval" value="10"/>
  </appSettings>
  <system.net>
    <settings>
      <!-- https://stackoverflow.com/questions/8424144/how-to-set-useunsafeheaderparsing-in-code -->
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
