<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IRONMAN.DAO.Properties.Settings.StockConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}\Stock.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
      <add name="IRONMAN.DAO.Properties.Settings.TransactionConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}\Transaction.mdb;Persist Security Info=True"
          providerName="System.Data.OleDb" />
      <add name="IRONMAN.DAO.Properties.Settings.CoreConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}\Core.mdb;Persist Security Info=True"
          providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>