<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DailyCollectorType" value="StockCrawler.Services.StockDailyPrice.TwseStockDailyInfoCollector, StockCrawler.Services"/>
    <add key="BasicInfoCollectorType" value="StockCrawler.Services.StockBasicInfo.GoodInfoStockBasicInfoCollector, StockCrawler.Services"/>
    <add key="FinanceReportCollectorType" value="StockCrawler.Services.StockFinanceReport.TwseReportCollector, StockCrawler.Services"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
