<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DB_TYPE" value="MSSQL"/>
    <add key="DailyCollectorType" value="StockCrawler.Services.StockDailyPrice.TwseStockDailyInfoCollector, StockCrawler.Services"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
